.browse{
    margin-bottom: 20px;
}
.browse .banner{
    background-color: #124191;
    height: 40px;
    margin-top: 30px;
}
.browse .banner .bannerTitle{
    line-height: 40px;
    color: #fff;
    margin-left: 10px;
    font-size: 120%;
    display: inline-block;
}
.browse .ant-radio-button-wrapper-checked{
    border-color: #124191 !important;
    color: #124191 !important;
    box-shadow: -1px 0 0 0 #124191 !important;
}
.browse .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused{
    color: #124191 !important;

}
.ant-dropdown-menu-item.act{
    font-weight: bold;
}
.browse .banner .bannerSearch{
    float: right;
    height: 30px;
    width: 250px;
    margin-top: 6px;
}
.browse .banner .bannerSearch input{
    height: 28px !important;
    min-height: auto;
}
.browse .banner .bannerSearch input{
    border: none;
    outline: none;
}
.browse .searchClear{
    float: right;
    color: #fff;
    line-height: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.browse .loader{
    text-align: center;
    margin-top: 40px;
}
.browse .filter{
    min-width: 230px;
}
.browse .ui.dropdown  .menu>.item.subcategories {
    padding: 0px !important;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover{
    background-color: #12419111 !important;
}
.browse .categoryButton{
    width: 200px !important;
}
.browse .categoryButton:hover, .browse .categoryButton:focus, .browse .categoryButton:active{
    color: #124191 !important;
    border-color: #124191 !important;
}
.browse .ui.dropdown  .menu>.item.subcategories .icon {
    padding: 12px 0px !important;
}
.browse .subcategories .text{
    padding: 12px 15px;
}
.browse .menuSortFilter{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
.browse .menuSortFilter .row{
    padding-top: 10px !important;
}
.browse .menuSortFilter .column{
    padding: 0px !important;
    margin-bottom: 10px !important;
}
.browse .menuSort{
    margin-bottom: 0px !important;
    float: right;
}
.nothing{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 110%;
}
.browse .ant-pagination{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}