.line{
    margin-top: 5px;
    margin-bottom: 10px;
    /* padding: 5px; */
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    cursor: pointer;
    height: 50px;
}
.lineRed:hover{
    border-top: 1px solid #ff315457;
    border-right: 1px solid #ff315457;
    border-bottom: 1px solid #ff315457;
    border-left: none;
}
.lineGray:hover{
    border-top: 1px solid #70707057;
    border-right: 1px solid #70707057;
    border-bottom: 1px solid #70707057;
    border-left: none;
}
.lineGreen:hover{
    border-top: 1px solid #4bdd3357;
    border-right: 1px solid #4bdd3357;
    border-bottom: 1px solid #4bdd3357;
    border-left: none;
}
.lineRed{
    border-left: 6px solid #ff3154;
}
.lineGreen{
    border-left: 6px solid #4bdd33;
}
.lineGray{
    border-left: 6px solid #707070;
}
.lineGray .lineMessage{
    background-color: #707070;
}
.line .lineTitle{
    font-size: 120%;
    color: #333;
    margin-left: 10px;
}
.line .lineInfos{
    display: inline-block;
    margin-left: 10px;
    font-size: 80%;
    font-style: italic;
    color: #333;
}
.line .lineRatings{
    float: right;
    margin-right: 5px;
}

.lineRed .lineMessage{
    background-color: #ff3154;
}
.lineGreen .lineMessage{
    background-color: #4bdd33;
}
.line .grid{
    margin: 0px !important;
    padding: 0px !important;
}
.line .column{
    padding: 0px !important;
    margin: 0px !important;
}
.line .row{
    padding: 0px !important;
    margin: 0px !important;
    height: 50px;
}

/* .lineMessageTransition-enter {
    opacity: 0.01;
} */

.line .lineMessage{
    display: block;
    height: 49px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    /* padding: 0px 5px; */
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}
.line .ant-row .lineTitle{
    margin-top: 5px;
}
.line .ant-row .lineRatings{
    margin-top: 15px;
}