.line{
    margin-top: 5px;
    margin-bottom: 10px;
    /* padding: 5px; */
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    cursor: pointer;
    height: 50px;
}
.lineBlue:hover{
    border-top: 1px solid #984B4357;
    border-right: 1px solid #984B4357;
    border-bottom: 1px solid #984B4357;
}
.lineYellow:hover{
    border-top: 1px solid rgba(234, 199, 122, 0.37);
    border-right: 1px solid rgba(234, 199, 122, 0.37);
    border-bottom: 1px solid rgba(234, 199, 122, 0.37);
}
.lineBlue{
    border-left: 6px solid #984B43;
}
.lineYellow{
    border-left: 6px solid #EAC67A;
}
.lineGray{
    border-left: 6px solid rgb(112, 112, 112);
}
.line .lineTitle{
    font-size: 120%;
    color: #333;
    margin-left: 10px;
}
.line .lineInfos{
    display: inline-block;
    margin-left: 10px;
    font-size: 80%;
    font-style: italic;
    color: #333;
}
.line .lineRatings{
    float: right;
    margin-right: 5px;
}

.lineBlue .lineMessage{
    background-color: #984B43;
}
.lineGray .lineMessage{
    background-color: rgb(112, 112, 112);
}
.lineYellow .lineMessage{
    background-color: #EAC67A;
}
.line .grid{
    margin: 0px !important;
    padding: 0px !important;
}
.line .column{
    padding: 0px !important;
    margin: 0px !important;
}
.line .row{
    padding: 0px !important;
    margin: 0px !important;
    height: 50px;
}

/* .lineMessageTransition-enter {
    opacity: 0.01;
} */

.line .lineMessage{
    display: block;
    height: 48px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    line-height: 45px;
    /* padding: 0px 5px; */
    color: #fff;
}
.line .ant-row .lineTitle{
    margin-top: 5px;
}
.line .ant-row .lineRatings{
    margin-top: 15px;
}