.modalItem .ant-modal-title{
    font-size: 102% !important;
}
.modalItem .btnEdit, .modalItem .btnRemove{
    background-color: #124191;
    border-color: #124191;
}
.modalItem .btnCall, .modalItem .btnMail{
    background-color: #124191;
    border-color: #124191;
}
.modalItem .btnCall:hover, .modalItem .btnMail:hover, .modalItem .btnEdit:hover, .modalItem .btnRemove:hover{
    background-color: #00bfff;
    border-color: #00bfff;
}
.modalItem .ant-modal-body{
    padding: 10px 20px;
}
.modalItem .date{
    text-align: right;
}
.modalItem .modalH{
    margin-top: 20px;
    font-size: 120%;
    font-weight: bold;
}
.modalItem .description{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    white-space: pre-line;
}
.modalItem .duration{
    margin-bottom: 10px;
}
.modalItem .ant-btn-primary{
    background-color: #124191 !important;
    border-color: #124191 !important;
}
.modalItem .ant-btn:hover{
    background-color: #00bfff !important;
    border-color: #00bfff !important;
    color: #fff !important;
}